GITHUB_NAME_ORGANIZATION=toyota
GITHUB_ACCESS_TOKEN=ghp_123*******************************abc
PATH_CLONE_REPOSITORIES=

PATH_CLONE_REPOSITORIES=A:\repos-gihub-automatization
PATH_REPORTS=A:\projects\automatization\report